<section (mouseout)="byeBye()">
    <p>Olá</p>

    <div class="screen1"></div>
    <div class="tarjet">
        <div class="zonep">
            <div class="video" [style.backgroundImage]="imagex">
                <div class="cuadricula">
                    <div (mouseover)="moverMexico(0)"></div>
                    <div (mouseover)="moverMexico(1)"></div>
                    <div (mouseover)="moverMexico(2)"></div>
                    <div (mouseover)="moverMexico(3)"></div>
                    <div (mouseover)="moverMexico(4)"></div>
                    <div (mouseover)="moverMexico(5)"></div>
                    <div (mouseover)="moverMexico(6)"></div>
                    <div (mouseover)="moverMexico(7)"></div>
                    <div (mouseover)="moverMexico(8)"></div>
                </div>


                <!-- <video autoplay>
                    <source src="./assets/video/yo.webm" type="video/webm">
                </video> -->
            </div>
            <h1>José Ribamar Ferreora Junior<br/>Machine Learning Engineer</h1>
            <div class="programo">
                <span>Desenvolvedor em: </span>
                <div class="listhide">
                    <ul>
                        <li>Angular</li>
                        <li>Android</li>
                        <li>C#</li>
                        <li>Java</li>
                        <li>Javascript</li>
                        <li>TypeScript</li>
                        <li>HTML</li>
                        <li>PHP</li>
                        <li>Python</li>
                        <li>R</li>
                        <li>Kotlin</li>
                     </ul>
                </div>
            </div>
        </div>

        <div class="zonecool">

            <div class="bio">
                <p><i class="material-icons">account_circle</i> <strong>José Ribamar Ferreira Junior</strong></p>

                <p><i class="material-icons">location_on</i> <strong>Joinville, SC, Brasil</strong> </p>

                <p><i class="material-icons">school</i> <strong> Machine Learning - Udacity</strong>
                </p>
                <p><i class="material-icons">computer</i> <strong>Programação Full Stack e Machine Learning</strong>.</p>
                <!--<p><i class="material-icons">web</i> Blog <a href="https://unprogramador.com" target="_blank">un programador</a>, la idea es enseñar programación de forma muy simple. </p>-->

            </div>
            <div class="menu">
                <h2>Contato....</h2>
                <ul>
                   <!-- <li><a routerLink="/development">Conocimientos de programación</a></li>
                    <li><a routerLink="/work">Mis Experiencias laborales</a></li>
                    <li><a routerLink="/project">Mis proyectos</a></li>-->
                    <li><a routerLink="/contact">Entre em Contato  !</a></li>
                </ul>

            </div>


        </div>

    </div>
    <div style="opacity: 0">
        <img src="/assets/img/yo/1.jpg" />
        <img src="/assets/img/yo/2.jpg" />
        <img src="/assets/img/yo/3.jpg" />
        <img src="/assets/img/yo/4.jpg" />
        <img src="/assets/img/yo/5.jpg" />
        <img src="/assets/img/yo/6.jpg" />
        <img src="/assets/img/yo/7.jpg" />
        <img src="/assets/img/yo/8.jpg" />
        <img src="/assets/img/yo/9.jpg" />
    </div>



</section>
