html,
body {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 40px;
}

section {
    padding-top: 5px;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
}

.is-active {
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    color: black !important;
    text-decoration: underline !important;
}

.is-active:focus,
.is-active:active {
    border: 0px solid rgba(0, 0, 0, 0) !important;
}

.loading {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}